<div class="container mt-4">
  <dir class="row justify-content-center">
    <div class="col col-md-8">
      <div class="card shadow">
        <div class="card-header">
          <i class="fa fa-calendar" aria-hidden="true" style="color: green"></i>
          {{ "Criar Agenda" }}
        </div>
        <div class="card-body">
          <form action="">
            <div class="row">
              <dir class="col col-md-8">
                <div class="input-group mb-3">
                  <span class="input-group-text">@</span>
                  <input
                    id="email"
                    type="text"
                    class="form-control"
                    aria-describedby="inputGroup-sizing-default"
                  />
                </div>
              </dir>
            </div>

            <a routerLink="/" class="btn btn-secondary mt-4"
              ><i class="fa fa-backward" aria-hidden="true"></i>{{ "Voltar" }}
            </a>
          </form>
        </div>
      </div>
    </div>
  </dir>
</div>
